.team__btn, .call__btn, .call__title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.footer__bottom-caption, .testimonial__slider-text, .top-slider__text, .top-slider__title, .title {
  font-family: "RobotoCondensed-Regular";
  font-weight: normal;
}

.tooltip__text, .footer__item-head, .testimonial__slider-author, .testimonial__slider-link, .news__item-link, .project__item-link, .services__item-link, .services__item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: bold;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  min-width: 320px;
  overflow-x: hidden;
  color: #9b9b9b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.title {
  font-size: 24px;
  line-height: normal;
  padding-bottom: 28px;
  position: relative;
  text-transform: capitalize;
}
.title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #2b4074;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }
  .title::after {
    width: 100px;
  }
}
/* Header Section */
.header {
  background-color: #2b4074;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}
.logo__link {
  margin-left: 5px;
}
.logo__link-img {
  width: 100px;
  height: 66px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 23px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}
.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}
.menu__btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2b4074;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
}

@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}
/* Slider Section */
.head {
  background: no-repeat center center/cover url("../images/bg-slider.jpg");
  min-height: 193px;
}

@media (min-width: 640px) {
  .head {
    min-height: 386px;
  }
}
.top-slider {
  background: rgba(33, 33, 33, 0.5);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /* Dots */
}
.top-slider__item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}
.top-slider__title {
  line-height: 28px;
  font-size: 28px;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
  color: #fff;
}
.top-slider__title::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  background-color: #4a4a4a;
  width: 61px;
  margin: 0 auto;
  position: absolute;
}
.top-slider__text {
  display: none;
}
.top-slider__btn {
  display: none;
}
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.top-slider .slick-dots .slick-active button {
  background-color: #fff;
}
.top-slider .slick-dots button {
  font-size: 0;
  background-color: transparent;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .top-slider {
    box-shadow: none;
    /* Dots */
    /* Arrows */
  }
  .top-slider__item {
    min-height: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 30px;
    max-width: 520px;
    padding: 50px 0 15px;
  }
  .top-slider__btn {
    display: block;
    background-color: #2b4074;
    color: #f9f6e5;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto 113px;
    padding: 16px 45px;
    border-radius: 3px;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .top-slider .slick-prev {
    background-color: #2b4074;
    top: calc(50% - 56px);
  }
  .top-slider .slick-next {
    background-color: #f9f6e5;
    bottom: calc(50% - 56px);
  }
  .top-slider .arrow-right,
.top-slider .arrow-left {
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    display: block;
    height: 14px;
    margin: 0 auto;
    width: 14px;
  }
  .top-slider .arrow-right {
    border-color: #929292;
    transform: translateX(-3px) rotate(135deg);
  }
  .top-slider .arrow-left {
    transform: translateX(3px) rotate(-45deg);
  }
}
@media (min-width: 768px) {
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    display: block;
    padding: 31px 0 32px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    max-width: 587px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .top-slider__item {
    min-height: 623px;
  }
  .top-slider__title {
    padding-top: 101px;
    text-align: center;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .top-slider {
    /* Arrows */
  }
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    max-width: 865px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
  .top-slider .arrow-right,
.top-slider .arrow-left {
    height: 18px;
    width: 18px;
  }
  .top-slider .arrow-right {
    transform: translateX(-5px) rotate(135deg);
  }
  .top-slider .arrow-left {
    transform: translateX(5px) rotate(-45deg);
  }
}
.call {
  background-color: #2b4074;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
.call__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
.call__text {
  margin-bottom: 40px;
}
.call__btn {
  background-color: #f9f6e5;
  border-radius: 3px;
  color: #2b4074;
  font-size: 18px;
  line-height: 18px;
  padding: 16px 15px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .call__box {
    max-width: 695px;
  }
}
@media (min-width: 1440px) {
  .call__inner {
    padding: 0 95px;
  }
  .call__box {
    max-width: 796px;
  }
}
.services {
  padding: 25px 0 40px;
  text-align: center;
}
.services__title {
  margin-bottom: 47px;
  color: #2b4074;
}
.services__description {
  color: #4a4a4a;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 21px;
}
.services__text {
  color: #797979;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 40px;
}
.services__item {
  min-height: 310px;
  border: 1px solid #f9f6e5;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__item:last-child {
  border-bottom: 1px solid #f9f6e5;
}
.services__item:hover .services__item-img {
  margin: 40px 0 14px;
}
.services__item:hover .services__item-text,
.services__item:hover .services__item-link {
  opacity: 1;
  height: auto;
  overflow: visible;
  visibility: visible;
}
.services__item:hover .services__item-title {
  margin-bottom: 30px;
}
.services__item:hover .services__item-inner {
  border: 4px solid #2b4074;
  margin: 18px 0;
  padding: 5px 20px;
  min-height: 277px;
}
.services__item-inner {
  transition: margin 0.5s;
}
.services__item-img {
  margin-bottom: 30px;
}
.services__item-title {
  color: #4a4a4a;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.services__item-text, .services__item-link {
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.5s;
}
.services__item-text {
  margin-bottom: 17px;
}
.services__item-link {
  color: #2b4074;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .services {
    padding: 24px 0 0;
  }
  .services__title {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .services__title::after {
    display: none;
  }
  .services__description {
    font-size: 24px;
    margin-bottom: 31px;
    padding-bottom: 30px;
    position: relative;
  }
  .services__description::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100px;
    height: 8px;
    background-color: #2b4074;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .services__text {
    font-size: 18px;
    line-height: 24px;
  }
  .services__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services__item {
    width: 50%;
  }
  .services__item:nth-child(even) {
    border-left: none;
  }
  .services__item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .services {
    padding: 50px 0 0;
  }
  .services__title {
    margin-bottom: 30px;
  }
  .services__description {
    text-align: left;
  }
  .services__description::after {
    margin-left: 0;
  }
  .services__text {
    text-align: left;
    margin-bottom: 27px;
  }
  .services__items {
    margin: 0 -40px;
  }
  .services__item {
    min-height: 334px;
  }
  .services__item:hover .services__item-inner {
    padding: 3px 54px 35px;
    min-height: 288px;
  }
}
@media (min-width: 1024px) {
  .services {
    padding: 52px 0 0;
  }
  .services__title {
    margin-bottom: 61px;
  }
  .services__description {
    padding-bottom: 46px;
    margin-bottom: 41px;
  }
  .services__text {
    margin-bottom: 32px;
    max-width: 608px;
  }
  .services__item {
    min-height: 277px;
    padding: 0 17px;
    width: 25%;
  }
  .services__item:nth-child(2), .services__item:nth-child(6) {
    border-right: none;
  }
  .services__item:hover {
    padding: 0 17px;
  }
  .services__item:hover .services__item-inner {
    margin: 10px 0;
    padding: 21px 9px 5px;
    min-height: 255px;
  }
  .services__item:hover .services__item-img {
    margin: 0 0 14px;
  }
  .services__item:hover .services__item-title {
    margin-bottom: 15px;
  }
}
@media (min-width: 1440px) {
  .services {
    padding: 0;
  }
  .services__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -92px 0 -30px;
  }
  .services__head {
    min-width: 393px;
    margin-right: 49px;
  }
  .services__title {
    text-align: left;
    margin: 90px 0 72px;
  }
  .services__description {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  .services__items {
    margin: 0;
  }
  .services__item {
    width: 230px;
    height: 270px;
  }
  .services__item:hover .services__item-inner {
    padding: 25px 9px 5px;
  }
}
.project {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}
.project__title {
  color: #fff;
  margin-bottom: 40px;
}
.project__title::after {
  background-color: #fff;
}
.project__item-img {
  min-height: 250px;
  border-radius: 4px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project__item-img:hover .project__item-inner {
  opacity: 1;
}
.project__item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 246, 229, 0.83);
  border-radius: 4px;
  position: absolute;
  left: 14px;
  right: 14px;
  top: 12px;
  bottom: 12px;
  opacity: 0;
  transition: all 0.5s;
  gap: 7px;
}
.project__item-link {
  display: inline-block;
  margin: 20px 0;
  color: #2b4074;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
}

@media (min-width: 640px) {
  .project {
    padding: 40px 0 20px;
  }
  .project__item-img {
    min-height: 460px;
  }
  .project__item-inner {
    left: 25px;
    right: 25px;
    top: 21px;
    bottom: 21px;
  }
  .project__item-link {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .project {
    padding: 80px 0 50px;
  }
  .project__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 28px;
  }
  .project__item-img {
    min-height: 283px;
    width: 317px;
  }
  .project__item-inner {
    left: 14px;
    right: 14px;
    top: 13px;
    bottom: 13px;
  }
  .project__item-link {
    margin: 30px 0 0;
  }
}
@media (min-width: 1024px) {
  .project {
    padding: 80px 0 80px;
  }
  .project__item-link {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .project__items {
    justify-content: space-between;
    gap: 0 21px;
    margin: 0 52px;
  }
  .project__item-img {
    width: 268px;
    height: 239px;
  }
}
.team {
  padding: 20px 0 40px;
  text-align: center;
}
.team__image {
  width: 100%;
  margin-bottom: 43px;
  border-radius: 4px;
}
.team__title {
  color: #4a4a4a;
  margin-bottom: 23px;
}
.team__text {
  margin-bottom: 84px;
}
.team__btn {
  background-color: #2b4074;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 21px 26px;
  color: #f9f6e5;
  font-size: 20px;
  line-height: 18px;
}

@media (min-width: 640px) {
  .team {
    padding: 46px 0 53px;
  }
  .team__image {
    margin-bottom: 46px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin: 0 auto 56px;
    max-width: 518px;
  }
}
@media (min-width: 768px) {
  .team {
    padding: 40px 0 48px;
    text-align: left;
  }
  .team__inner {
    display: flex;
    gap: 34px;
    justify-content: center;
  }
  .team__image {
    margin-bottom: 0;
    width: 240px;
    height: 227px;
  }
  .team__title {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 38px;
  }
  .team__title::after {
    margin-left: 0;
  }
  .team__text {
    margin: 0 0 30px;
    max-width: 407px;
    font-size: 18px;
    line-height: 18px;
  }
  .team__btn {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .team {
    padding: 80px 0;
  }
  .team__inner {
    gap: 60px;
  }
  .team__image {
    width: 395px;
    height: 380px;
  }
  .team__title {
    margin: 20px 0 19px;
    font-size: 48px;
    line-height: normal;
  }
  .team__text {
    margin: 0 0 19px;
    line-height: 24px;
    max-width: 523px;
  }
}
@media (min-width: 1440px) {
  .team {
    padding: 50px 0 110px;
  }
  .team__inner {
    gap: 100px;
    margin: 0 52px;
  }
  .team__image {
    width: 460px;
    height: 420px;
  }
  .team__title {
    margin: 0 0 39px;
  }
  .team__text {
    margin: 0 0 39px;
    max-width: 585px;
  }
}
.news {
  text-align: center;
  padding: 40px 0;
  background-color: #f9f6e5;
}
.news__title {
  color: #4a4a4a;
  line-height: 38px;
  margin-bottom: 40px;
}
.news__items {
  margin: 0 auto;
}
.news__item {
  margin-bottom: 20px;
}
.news__item:nth-child(1) {
  height: 444px;
}
.news__item:nth-child(2) {
  height: 342px;
}
.news__item:nth-child(3) {
  height: 383px;
}
.news__item:nth-child(4) {
  height: 210px;
}
.news__item:nth-child(5) {
  height: 197px;
}
.news__item:nth-child(6) {
  height: 342px;
}
.news__item:nth-child(7) {
  height: 218px;
}
.news__item:nth-child(8) {
  height: 437px;
}
.news__item-img {
  width: 270px;
  height: 100%;
  border-radius: 4px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.news__item-img:hover .news__item-inner {
  opacity: 1;
}
.news__item-img:hover .news__item-link {
  background-color: #2b4074;
  color: #f9f6e5;
  bottom: 30px;
}
.news__item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 64, 116, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
  border: 10px solid #2b4074;
}
.news__item-link {
  display: block;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 2px;
  padding: 8px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: left;
  transition: all 0.5s;
}

@media (min-width: 640px) {
  .news__title {
    margin-bottom: 60px;
  }
  .news__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .news__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .news {
    padding: 65px 0 80px;
  }
  .news__title {
    font-size: 48px;
    line-height: normal;
    margin-bottom: 96px;
  }
}
@media (min-width: 1440px) {
  .news {
    padding: 52px 0 80px;
  }
  .news__title {
    margin-bottom: 115px;
  }
  .news__item-link {
    font-size: 16px;
  }
}
.testimonial {
  text-align: center;
  padding: 60px 0 85px;
  /* Dots */
}
.testimonial__slider-item {
  padding: 0 20px;
}
.testimonial__icon {
  margin: 0 auto 90px;
}
.testimonial__slider-text {
  color: #4a4a4a;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
}
.testimonial__slider-link {
  color: #2b4074;
}
.testimonial__slider-author {
  color: #4a4a4a;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.testimonial .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.testimonial .slick-dots .slick-active button {
  background-color: #2b4074;
}
.testimonial .slick-dots button {
  font-size: 0;
  background-color: #fff;
  border: 1px solid #2b4074;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .testimonial {
    padding: 60px 0 91px;
  }
  .testimonial__slider-item {
    padding: 0 35px;
  }
  .testimonial__icon {
    margin-bottom: 40px;
  }
  .testimonial__slider-text {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .testimonial__slider-item {
    padding: 0 41px;
  }
}
@media (min-width: 1024px) {
  .testimonial {
    padding: 100px 0 131px;
  }
  .testimonial__slider-item {
    padding: 0 15px;
  }
  .testimonial__icon {
    margin-bottom: 44px;
  }
  .testimonial__slider-text {
    line-height: normal;
    margin-bottom: 45px;
  }
  .testimonial__slider-author {
    line-height: 28px;
    margin-bottom: 90px;
  }
}
@media (min-width: 1440px) {
  .testimonial__icon {
    margin-bottom: 54px;
  }
  .testimonial__slider-text {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .testimonial__slider-author {
    font-size: 24px;
    line-height: normal;
  }
}
.footer {
  background-color: #2b4074;
  text-align: center;
  position: relative;
}
.footer__top {
  position: relative;
  padding: 85px 0 40px;
}
.footer__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  background-color: #2b4074;
  padding: 0 73px 5px;
  border-radius: 3px;
}
.footer__logo-img {
  width: 83px;
  height: 55px;
}
.footer__text {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
  margin-bottom: 43px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.footer__social-img {
  width: 24px;
  height: 24px;
}
.footer__items {
  padding: 6px 0 23px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.footer__item-head {
  color: #f9f6e5;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 22px;
}
.footer__item-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.footer__bottom {
  background-color: #f9f6e5;
  padding: 56px 0 20px;
}
.footer__bottom-link {
  display: inline-block;
}
.footer__bottom-caption {
  color: #4a4a4a;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.footer__up-arrow {
  border-left: 2px solid #2b4074;
  border-top: 2px solid #2b4074;
  height: 16px;
  margin: 0 auto;
  width: 16px;
  transform: rotate(45deg);
}

@media (min-width: 640px) {
  .footer {
    text-align: left;
  }
  .footer__top {
    padding: 96px 0 125px;
  }
  .footer__text {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 26px;
    padding: 0 23px;
  }
  .footer__social {
    flex-direction: row;
    gap: 0;
    width: 100%;
    padding: 0 10px;
  }
  .footer__social-item {
    width: 100%;
    padding: 22px 0;
    text-align: center;
    border-top: 2px solid #7ebf84;
    border-bottom: 2px solid #7ebf84;
  }
  .footer__social-item:nth-child(n+2) {
    border-left: 2px solid #7ebf84;
  }
  .footer__items {
    gap: 28px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  .footer__item {
    width: 47%;
  }
  .footer__bottom {
    padding: 7px 14px;
  }
  .footer__bottom-inner {
    margin: 0 -30px;
  }
  .footer__bottom-link {
    text-align: right;
    display: block;
  }
  .footer__bottom-caption {
    margin: 0 23px 0 0;
    display: inline-block;
  }
  .footer__up-arrow {
    display: inline-block;
    vertical-align: bottom;
    transform: translate(-4px, 3px) rotate(45deg);
  }
}
@media (min-width: 768px) {
  .footer__top {
    padding: 114px 0 51px;
  }
  .footer__text {
    font-size: 36px;
    line-height: 32px;
    padding: 0;
  }
  .footer__social {
    padding: 0;
    margin-bottom: 69px;
  }
  .footer__bottom-inner {
    margin: 0 -40px;
  }
}
@media (min-width: 1024px) {
  .footer__top {
    padding: 158px 0 112px;
  }
  .footer__text {
    margin-bottom: 80px;
  }
  .footer__social {
    margin-bottom: 59px;
  }
  .footer__items {
    flex-wrap: nowrap;
  }
  .footer__bottom-caption {
    margin-right: 16px;
  }
}
@media (min-width: 1440px) {
  .footer__top {
    padding: 158px 110px 97px;
  }
  .footer__text {
    font-size: 24px;
  }
  .footer__social {
    margin-bottom: 80px;
  }
  .footer__item-head {
    font-size: 16px;
  }
  .footer__item-link {
    font-size: 12px;
  }
  .footer__bottom {
    padding: 7px 136px;
  }
}
/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.modal__close {
  color: #f9f6e5;
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 35px;
  font-weight: bold;
}
.modal__close:hover, .modal__close:focus {
  color: #929292;
  text-decoration: none;
  cursor: pointer;
}
.modal__content {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}
.modal__slide {
  display: none;
}
.modal__number-text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 25px;
  left: 20px;
}
.modal__image {
  max-height: 75vh;
  width: 100%;
}
.modal__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal__prev, .modal__next {
  cursor: pointer;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.modal__prev:hover, .modal__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.modal__prev {
  border-radius: 0 3px 3px 0;
  order: 1;
}
.modal__next {
  border-radius: 3px 0 0 3px;
  order: 3;
}
.modal__caption {
  color: #fff;
  order: 2;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .modal__content {
    gap: 20px;
  }
  .modal__controls {
    justify-content: center;
  }
  .modal__prev, .modal__next {
    position: absolute;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
  .modal__prev {
    left: 0;
    order: 1;
  }
  .modal__next {
    right: 0;
    order: 3;
  }
  .modal__number-text {
    top: 30px;
    left: 25px;
  }
  .modal__close {
    top: 30px;
    right: 25px;
  }
}
@media (min-width: 1024px) {
  .modal__prev, .modal__next {
    font-size: 35px;
  }
  .modal__prev {
    left: 20px;
  }
  .modal__next {
    right: 20px;
  }
}
.tooltip {
  position: relative;
}
.tooltip__text {
  visibility: hidden;
  width: 200px;
  background-color: #2b4074;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 1s;
  line-height: normal;
}
.tooltip:hover .tooltip__text {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltip__text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2b4074 transparent transparent transparent;
}

/*# sourceMappingURL=style.css.map */
