<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DI-GI</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="libs/slick/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="logo">
            <a href="#" class="logo__link">
              <img
                class="logo__link--img"
                src="images/logo.png"
                alt="логотип" />
            </a>
          </div>
          <nav class="menu">
            <button class="menu__btn"></button>
          </nav>
        </div>
      </div>
    </header>
    <section class="head">
      <div class="top-slider">
        <div class="top-slider__item">
          <h3 class="top-slider__title">МІРКУЙ ГЛОБАЛЬНО</h3>
          <p class="top-slider__text">
            Di Gі - це діджитал агентство повного циклу, спрямоване на найкращий
            результат наших клієнтів у маркетингу, продажах та управлінні.
          </p>
          <button class="top-slider__btn">ДЕТАЛЬНІШЕ</button>
        </div>
        <div class="top-slider__item">
          <h3 class="top-slider__title">ВІДЕОПРОДАКШН</h3>
          <p class="top-slider__text">
            Ми створюємо професійні відео для вашого бренду або продукту,
            забезпечуючи високу якість зображення та ефективну комунікацію з
            вашою аудиторією.
          </p>
          <button class="top-slider__btn">ДЕТАЛЬНІШЕ</button>
        </div>
        <div class="top-slider__item">
          <h3 class="top-slider__title">СОЦІАЛЬНІ МЕДІА</h3>
          <p class="top-slider__text">
            Наша команда експертів допоможе вам побудувати стратегію соціальних
            медіа, привернути цільову аудиторію та підвищити свідомість про ваш
            бренд.
          </p>
          <button class="top-slider__btn">ДЕТАЛЬНІШЕ</button>
        </div>
      </div>
    </section>
    <section class="call">
      <div class="container">
        <div class="call__inner">
          <div class="call__box">
            <h5 class="call__title">Ви полюбите нас з першої зустрічі!</h5>
            <p class="call__text">
              Ми надаємо комплексний підхід до просування компанії, продуктів та
              послуг у цифровій сфері.
            </p>
          </div>
          <button class="call__btn">ЗАТЕЛЕФОНУЙТЕ МЕНІ</button>
        </div>
      </div>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <script src="libs/slick/slick.min.js"></script>
  </body>
</html>
