.btn {
    padding: 24px 40px;
    color: var(--accent);
    text-transform: uppercase;

    font-family: var(--font-accent);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    background-color: transparent;
    border: 1px solid var(--accent);

    &--filled {
        background: var(--accent);
        color: var(--text-color);
    }
}