.swiper__pagination-bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--pagination-bullet-color);
    margin: 0 4px;

    &--active {
        background-color: var(--accent);
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}

@media (max-width: $mobileL) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}