.blog {
    padding-bottom: 100px;
}

.blog__title-2 {
    text-align: center;
}

.blog__title-3 {
    text-align: center;
    margin-bottom: 35px;
}

.blog__articles {
    display: flex;
    gap: 60px 26px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__article {
    max-width: 363px;
    width: 31%;
}

.blog__article-img {
    max-height: 268px;
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
}

.blog__article-content {
    padding: 0 18px;
}

.blog__article-text {
    margin-bottom: 35px;
    color: var(--accent);
}

@media (max-width: $laptop) {
    .blog__article {
        width: 45%;
    }
}

@media (max-width: $tablet) {
    .blog__articles {
        flex-direction: column;
        align-items: center;
    }

    .blog__article {
        width: 100%;
    }
}