@import "vars";
@import "fonts";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  min-width: 320px;
  overflow-x: hidden;
  color: $default-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 20px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.title {
  @extend %roboto-condensed-400;
  font-size: 24px;
  line-height: normal;
  padding-bottom: 28px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: $accent;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
@media (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 56px;
    &::after {
      width: 100px;
    }
  }
}
