@import "global.scss";

/* Header Section */

.header {
  background-color: $accent;
  &__inner {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .header {
    &__inner {
      min-height: 100px;
    }
  }
}

.logo__link {
  margin-left: 5px;
  &--img {
    width: 100px;
    height: 66px;
  }
}
@media (min-width: 640px) {
  .logo__link {
    margin-left: 23px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $accent;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}
@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}

/* Slider Section */

.head {
  background: no-repeat center center/cover url("../images/bg-slider.jpg");
  min-height: 193px;
}
@media (min-width: 640px) {
  .head {
    min-height: 386px;
  }
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  &__item {
    color: #fff;
    text-align: center;
    min-height: 193px;
  }
  &__title {
    @extend %roboto-condensed-400;
    line-height: 28px;
    font-size: 28px;
    text-transform: uppercase;
    padding: 36px 0 28px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    &::after {
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      height: 8px;
      background-color: $text-color;
      width: 61px;
      margin: 0 auto;
      position: absolute;
    }
  }
  &__text {
    @extend %roboto-condensed-400;
    display: none;
  }
  &__btn {
    display: none;
  }
  /* Dots */
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    .slick-active {
      button {
        background-color: #fff;
      }
    }
    button {
      font-size: 0;
      background-color: transparent;
      border: 1px solid #fff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}
@media (min-width: 640px) {
  .top-slider {
    box-shadow: none;
    &__item {
      min-height: 386px;
    }
    &__title {
      font-size: 60px;
      line-height: 60px;
      margin: 0 auto 30px;
      max-width: 520px;
      padding: 50px 0 15px;
    }
    &__btn {
      display: block;
      background-color: $accent;
      color: $bg-color;
      font-size: 18px;
      line-height: 18px;
      margin: 0 auto 113px;
      padding: 16px 45px;
      border-radius: 3px;
    }
    /* Dots */
    .slick-dots {
      bottom: 50px;
    }
    /* Arrows */
    .slick-arrow {
      width: 56px;
      height: 56px;
      position: absolute;
      right: 0;
      z-index: 5;
    }
    .slick-prev {
      background-color: $accent;
      top: calc(50% - 56px);
    }
    .slick-next {
      background-color: $bg-color;
      bottom: calc(50% - 56px);
    }
    .arrow-right,
    .arrow-left {
      border-left: 3px solid #fff;
      border-top: 3px solid #fff;
      display: block;
      height: 14px;
      margin: 0 auto;
      width: 14px;
    }
    .arrow-right {
      border-color: $arrow-color;
      transform: translateX(-3px) rotate(135deg);
    }
    .arrow-left {
      transform: translateX(3px) rotate(-45deg);
    }
  }
}
@media (min-width: 768px) {
  .top-slider {
    &__item {
      min-height: 465px;
    }
    &__title {
      padding: 87px 0 0;
      margin: 0 auto;
      &::after {
        display: none;
      }
    }
    &__text {
      display: block;
      padding: 31px 0 32px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      line-height: 20px;
      max-width: 587px;
      margin: 0 auto;
    }
  }
}
@media (min-width: 1024px) {
  .top-slider {
    &__item {
      min-height: 623px;
    }
    &__title {
      padding-top: 101px;
      text-align: center;
      font-size: 84px;
      line-height: 84px;
      letter-spacing: 2px;
      max-width: 750px;
    }
    .slick-dots {
      bottom: 80px;
    }
  }
}
@media (min-width: 1440px) {
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      padding-top: 107px;
      font-size: 96px;
      line-height: 96px;
      max-width: 865px;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
      max-width: 886px;
    }
    /* Arrows */
    .slick-arrow {
      width: 70px;
      height: 70px;
    }
    .slick-prev {
      top: calc(50% - 70px);
    }
    .slick-next {
      bottom: calc(50% - 70px);
    }
    .arrow-right,
    .arrow-left {
      height: 18px;
      width: 18px;
    }
    .arrow-right {
      transform: translateX(-5px) rotate(135deg);
    }
    .arrow-left {
      transform: translateX(5px) rotate(-45deg);
    }
  }
}

.call {
  background-color: $accent;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  &__title {
    @extend %roboto-500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__btn {
    @extend %roboto-500;
    background-color: $bg-color;
    border-radius: 3px;
    color: $accent;
    font-size: 18px;
    line-height: 18px;
    padding: 16px 15px;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) {
  .call {
    text-align: left;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__box {
      max-width: 427px;
    }
    &__text {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 1024px) {
  .call {
    &__box {
      max-width: 695px;
    }
  }
}
@media (min-width: 1440px) {
  .call {
    &__inner {
      padding: 0 95px;
    }
    &__box {
      max-width: 796px;
    }
  }
}

.services {
  padding: 25px 0 40px;
  text-align: center;
  &__title {
    margin-bottom: 47px;
    color: $accent;
  }
  &__description {
    color: $text-color;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
  }
  &__text {
    color: #797979;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 40px;
  }
  &__item {
    min-height: 310px;
    border: 1px solid $bg-color;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:last-child {
      border-bottom: 1px solid $bg-color;
    }
    &:hover {
      .services__item-img {
        margin: 40px 0 14px;
      }
      .services__item-text,
      .services__item-link {
        opacity: 1;
        height: auto;
        overflow: visible;
        visibility: visible;
      }
      .services__item-title {
        margin-bottom: 30px;
      }
      .services__item-inner {
        border: 4px solid $accent;
        margin: 18px 0;
        padding: 5px 20px;
        min-height: 277px;
      }
    }
  }
  &__item-inner {
    transition: margin 0.5s;
  }
  &__item-img {
    margin-bottom: 30px;
  }
  &__item-title {
    color: $text-color;
    font-size: 16px;
    @extend %roboto-condensed-700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__item-text,
  &__item-link {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s;
  }
  &__item-text {
    margin-bottom: 17px;
  }
  &__item-link {
    color: $accent;
    @extend %roboto-condensed-700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
@media (min-width: 640px) {
  .services {
    padding: 24px 0 0;
    &__title {
      margin-bottom: 20px;
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
    &__description {
      font-size: 24px;
      margin-bottom: 31px;
      padding-bottom: 30px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        width: 100px;
        height: 8px;
        background-color: $accent;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 24px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px;
    }
    &__item {
      width: 50%;
      &:nth-child(even) {
        border-left: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
@media (min-width: 768px) {
  .services {
    padding: 50px 0 0;
    &__title {
      margin-bottom: 30px;
    }
    &__description {
      text-align: left;
      &::after {
        margin-left: 0;
      }
    }
    &__text {
      text-align: left;
      margin-bottom: 27px;
    }
    &__items {
      margin: 0 -40px;
    }
    &__item {
      min-height: 334px;
      &:hover {
        .services__item-inner {
          padding: 3px 54px 35px;
          min-height: 288px;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .services {
    padding: 52px 0 0;
    &__title {
      margin-bottom: 61px;
    }
    &__description {
      padding-bottom: 46px;
      margin-bottom: 41px;
    }
    &__text {
      margin-bottom: 32px;
      max-width: 608px;
    }
    &__item {
      min-height: 277px;
      padding: 0 17px;
      width: 25%;
      &:nth-child(2),
      &:nth-child(6) {
        border-right: none;
      }
      &:hover {
        padding: 0 17px;
        .services__item-inner {
          margin: 10px 0;
          padding: 21px 9px 5px;
          min-height: 255px;
        }
        .services__item-img {
          margin: 0 0 14px;
        }
        .services__item-title {
          margin-bottom: 15px;
        }
      }
    }
  }
}
@media (min-width: 1440px) {
  .services {
    padding: 0;
    &__inner {
      display: flex;
      justify-content: space-between;
      margin: 0 -92px 0 -30px;
    }
    &__head {
      min-width: 393px;
      margin-right: 49px;
    }
    &__title {
      text-align: left;
      margin: 90px 0 72px;
    }
    &__description {
      padding-bottom: 38px;
      margin-bottom: 35px;
    }
    &__items {
      margin: 0;
    }
    &__item {
      width: 230px;
      height: 270px;
      &:hover {
        .services__item-inner {
          padding: 25px 9px 5px;
        }
      }
    }
  }
}

.project {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(180deg, $accent 0%, rgba(43, 64, 116, 0) 100%);
  &__title {
    color: #fff;
    margin-bottom: 40px;
    &::after {
      background-color: #fff;
    }
  }
  &__item-img {
    min-height: 250px;
    border-radius: 4px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      .project__item-inner {
        opacity: 1;
      }
    }
  }
  &__item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $bg-color, $alpha: 0.83);
    border-radius: 4px;
    position: absolute;
    left: 14px;
    right: 14px;
    top: 12px;
    bottom: 12px;
    opacity: 0;
    transition: all 0.5s;
  }
  &__item-info,
  &__item-search {
    margin: 0 7px;
  }
  &__item-link {
    display: block;
    padding: 20px 0;
    color: $accent;
    font-size: 16px;
    @extend %roboto-condensed-700;
    line-height: normal;
    letter-spacing: 2px;
  }
}
@media (min-width: 640px) {
  .project {
    padding: 40px 0 20px;
    &__item-img {
      min-height: 460px;
    }
    &__item-inner {
      left: 25px;
      right: 25px;
      top: 21px;
      bottom: 21px;
    }
    &__item-link {
      font-size: 20px;
    }
  }
}
@media (min-width: 768px) {
  .project {
    padding: 80px 0 50px;
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px 28px;
    }
    &__item-img {
      min-height: 283px;
      width: 317px;
    }
    &__item-inner {
      left: 14px;
      right: 14px;
      top: 13px;
      bottom: 13px;
    }
    &__item-link {
      padding: 30px 0 0;
    }
  }
}
@media (min-width: 1024px) {
  .project {
    padding: 80px 0 80px;
    &__item-link {
      font-size: 16px;
    }
  }
}
@media (min-width: 1440px) {
  .project {
    &__items {
      justify-content: space-between;
      gap: 0 21px;
      margin: 0 52px;
    }
    &__item-img {
      width: 268px;
      height: 239px;
    }
  }
}

.team {
  padding: 20px 0 40px;
  text-align: center;
  &__image {
    width: 100%;
    margin-bottom: 43px;
    border-radius: 4px;
  }
  &__title {
    color: $text-color;
    margin-bottom: 23px;
  }
  &__text {
    margin-bottom: 84px;
  }
  &__btn {
    background-color: $accent;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 21px 26px;
    color: $bg-color;
    @extend %roboto-500;
    font-size: 20px;
    line-height: 18px;
  }
}
@media (min-width: 640px) {
  .team {
    padding: 46px 0 53px;
    &__image {
      margin-bottom: 46px;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__text {
      margin-bottom: 56px;
    }
  }
}
@media (min-width: 768px) {
  .team {
    padding: 40px 0 48px;
    text-align: left;
    &__inner {
      display: flex;
      gap: 34px;
    }
    &__image {
      margin-bottom: 0;
      width: 240px;
      height: 227px;
    }
    &__title {
      margin-bottom: 7px;
      font-size: 36px;
      line-height: 38px;
      &::after {
        margin-left: 0;
      }
    }
    &__text {
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 18px;
    }
    &__btn {
      font-size: 18px;
    }
  }
}
@media (min-width: 1024px) {
  .team {
    padding: 80px 0;
    &__inner {
      gap: 60px;
    }
    &__image {
      width: 395px;
      height: 380px;
    }
    &__title {
      margin: 20px 0 19px;
      font-size: 48px;
      line-height: normal;
    }
    &__text {
      margin-bottom: 19px;
      line-height: 24px;
    }
  }
}
@media (min-width: 1440px) {
  .team {
    padding: 50px 0 110px;
    &__inner {
      gap: 100px;
      margin: 0 52px;
    }
    &__image {
      width: 460px;
      height: 420px;
    }
    &__title {
      margin: 0 0 39px;
    }
    &__text {
      margin-bottom: 39px;
      width: 585px;
    }
  }
}

.news {
  text-align: center;
  padding: 40px 0;
  background-color: $bg-color;
  &__title {
    color: $text-color;
    line-height: 38px;
    margin-bottom: 40px;
  }
  &__items {
    columns: 1 auto;
    max-width: 270px;
    margin: 0 auto;
  }
  &__item {
    margin-bottom: 20px;
    &:nth-child(1) {
      height: 444px;
    }
    &:nth-child(2) {
      height: 342px;
    }
    &:nth-child(3) {
      height: 383px;
    }
    &:nth-child(4) {
      height: 210px;
    }
    &:nth-child(5) {
      height: 197px;
    }
    &:nth-child(6) {
      height: 342px;
    }
    &:nth-child(7) {
      height: 218px;
    }
    &:nth-child(8) {
      height: 437px;
    }
  }
  &__item-img {
    width: 270px;
    height: 100%;
    border-radius: 4px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &:hover {
      .news__item-inner {
        opacity: 1;
      }
      .news__item-link {
        background-color: $accent;
        color: $bg-color;
        bottom: 30px;
      }
    }
  }
  &__item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $accent, $alpha: 0.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    border: 10px solid $accent;
  }
  &__item-link {
    display: block;
    background-color: #fff;
    color: $text-color;
    @extend %roboto-condensed-700;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 2px;
    padding: 8px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: left;
    transition: all 0.5s;
  }
}
@media (min-width: 640px) {
  .news {
    &__title {
      margin-bottom: 60px;
    }
    &__items {
      columns: 2 auto;
      max-width: 570px;
      column-gap: 30px;
    }
    &__item {
      margin-bottom: 30px;
    }
  }
}
@media (min-width: 768px) {
  .news {
    &__title {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
}
@media (min-width: 1024px) {
  .news {
    padding: 65px 0 80px;
    &__title {
      font-size: 48px;
      line-height: normal;
      margin-bottom: 96px;
    }
    &__items {
      columns: 3 auto;
      max-width: 871px;
    }
  }
}
@media (min-width: 1440px) {
  .news {
    padding: 52px 0 80px;
    &__inner {
      margin: 0 52px;
    }
    &__title {
      margin-bottom: 115px;
    }
    &__items {
      columns: 4 auto;
      max-width: 1171px;
    }
    &__item-link {
      font-size: 16px;
    }
  }
}

.testimonial {
  text-align: center;
  padding: 60px 0 85px;
  &__icon {
    margin-bottom: 90px;
  }
  &__slider-text {
    color: $text-color;
    font-size: 24px;
    @extend %roboto-condensed-400;
    line-height: 26px;
    margin-bottom: 20px;
  }
  &__slider-link {
    color: $accent;
    @extend %roboto-condensed-700;
  }
  &__slider-author {
    color: $text-color;
    font-size: 20px;
    @extend %roboto-condensed-700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }
  /* Dots */
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .slick-active {
      button {
        background-color: #fff;
      }
    }
    button {
      font-size: 0;
      background-color: $accent;
      border: 1px solid $accent;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}
@media (min-width: 640px) {
  .testimonial {
    padding: 60px 0 91px;
    &__icon {
      margin-bottom: 40px;
    }
    &__slider-text {
      font-size: 32px;
      line-height: 34px;
      margin-bottom: 40px;
    }
  }
}
@media (min-width: 1024px) {
  .testimonial {
    padding: 100px 0 131px;
    &__icon {
      margin-bottom: 44px;
    }
    &__slider-text {
      line-height: normal;
      margin-bottom: 45px;
    }
    &__slider-author {
      line-height: 28px;
      margin-bottom: 90px;
    }
  }
}
@media (min-width: 1440px) {
  .testimonial {
    &__icon {
      margin-bottom: 54px;
    }
    &__slider-text {
      font-size: 36px;
      margin-bottom: 30px;
    }
    &__slider-author {
      font-size: 24px;
      line-height: normal;
    }
  }
}
