.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--page-bg);
    text-align: center;

    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.nav__list {
    display: flex;
    gap: 25px 55px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav__item {
    &--active {
        color: var(--accent);
    }

    &:hover {
        color: var(--accent);
    }
}

@media (max-width: $mobileL) {
    .nav__list {
        flex-direction: column;
    }
}