.title {
    --font-size-title: 96px;

    font-family: var(--font-main);
    font-weight: 700;
    font-size: var(--font-size-title);

    color: var(--page-bg);
    line-height: normal;
}

.title-2 {
    --font-size-title-2: 48px;

    font-family: var(--font-main);
    font-weight: 700;
    font-size: var(--font-size-title-2);

    color: var(--text-color);
    line-height: normal;
}

.title-3 {
    --font-size-title-3: 24px;

    font-family: var(--font-main);
    font-weight: 700;
    font-size: var(--font-size-title-3);

    color: var(--text-color);
    line-height: normal;
}

.title__accent {
    color: var(--accent);
    white-space: nowrap;
}

@media (max-width: $laptopL) {
    .title {
        font-size: calc(var(--font-size-title) * 0.9);
    }
}

@media (max-width: $laptop) {
    .title {
        font-size: calc(var(--font-size-title) * 0.8);
    }

    .title-2 {
        font-size: calc(var(--font-size-title-2) * 0.8);
    }
}

@media (max-width: $tablet) {
    .title {
        font-size: calc(var(--font-size-title) * 0.65);
    }

    .title-2 {
        font-size: calc(var(--font-size-title-2) * 0.65);
    }

    .title-3 {
        font-size: calc(var(--font-size-title-3) * 0.75);
    }
}

@media (max-width: $mobileL) {
    .title {
        font-size: calc(var(--font-size-title) * 0.45);
    }

    .title-2 {
        font-size: calc(var(--font-size-title-2) * 0.6);
    }

    .title-3 {
        font-size: calc(var(--font-size-title-3) * 0.65);
    }
}