@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 16px;
}

a {
  color: var(--text-color);
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--accent);
  }
}

.title-2 {
  font-size: 36px;
  font-family: var(--font-accent);
  color: var(--accent);
  font-weight: 700;
}

.link-bold {
  color: var(--accent);
  font-weight: 700;
}
