:root {
  --container-width: 1140px;
  --container-padding: 15px;

  --font-main: "Raleway", sans-serif;
  --font-accent: "Playfair Display", serif;
  --font-secondary: "Roboto", sans-serif;

  --page-bg: #242b33;
  --text-color: #fff;
  --accent: #d4c17f;
  --footer-bg: #2d343c;
  --placeholder: #bebebe;
  --muted: #e7e7e7;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
