.footer {
    background-color: var(--section-color);
    padding: 50px 0 32px;
    color: var(--text-color-light);
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 48px;
    padding: 0 51px;
    gap: 35px 15px;
}

.footer__nav-item {
    margin-bottom: 20px;
}

.footer__nav-title {
    margin-bottom: 40px;
    color: var(--text-color-light);
}

.footer__mobile-links {
    display: flex;
    gap: 20px 39px;
    justify-content: center;
    margin-bottom: 50px;
}

.footer__info {
    text-align: center;
    max-width: 806px;
    margin: 0 auto 30px;
    font-size: 12px;
}

.footer__info-tel {
    text-decoration-line: underline !important;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px 40px;
}

@media (max-width: $laptopL) {
    .footer__top {
        padding: 0;
    }
}

@media (max-width: $laptop) {
    .footer__top {
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
    }
}

@media (max-width: $tablet) {

    .footer__mobile-links,
    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: $mobileL) {
    .footer__top {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        text-align: center;
    }
}