.contact-us {
    padding: 100px 0 150px;
}

.contact-us__inner {
    max-width: 935px;
    margin: 0 auto;
    text-align: center;
}

.contact-us__form {
    max-width: 580px;
    margin: 0 auto;
}

.contact-us__title {
    margin-bottom: 20px;
}

.contact-us__subtitle {
    margin-bottom: 50px;
}

@media (max-width: $tablet) {
    .contact-us {
        padding: 75px 0 100px;
    }
}

@media (max-width: $mobileL) {
    .contact-us {
        padding: 50px 0 75px;
    }
}