.header {
    position: relative;
}

.header-secondary .header__outer {
    background-color: var(--text-color);
    position: static;
}

.header__outer {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;

    padding: 40px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
}

.header__nav {
    margin-left: auto;

    &--active {
        color: var(--accent);
    }
}

@media (max-width: $laptop) {

    .header__nav {
        display: none;
    }

    .header__inner {
        align-items: center;
    }
}