.btn {
    background-color: var(--section-color);
    padding: 13px 61px;

    text-transform: uppercase;
    color: var(--page-bg);
    font-family: var(--font-main);
    font-weight: 400;
    line-height: inherit;
}