$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 640px;
$mobileM: 425px;

:root {
  --container-width: 1140px;
  --container-padding: 20px;

  --font-main: "Inter", sans-serif;

  --page-bg: #fff;
  --text-color: #151515;
  --accent: #0066FF;
  --section-color: #151515;
}