<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Furni</title>
  </head>
  <body>
    <!-- Start Header/Navigation -->
    <nav
      class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark"
      aria-expanded="false"
      aria-label="Furni navigation bar"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Furni<span>.</span></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarFurni"
          aria-controls="navbarFurni"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarFurni">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
          </ul>
          <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="images/user.svg" alt="account" />
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="images/cart.svg" alt="cart" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>
                Modern Interior <span class="d-block">Design Studio</span>
              </h1>
              <p class="mb-4">
                Discover the perfect blend of style and comfort with our
                exquisite furniture collection. Whether you're looking for a
                cozy sofa, elegant dining set, or functional storage solutions,
                we have it all.
              </p>
              <p>
                <a class="btn btn-secondary me-2" href="#">Shop Now</a>
                <a class="btn btn-outline-light" href="#">Explore</a>
              </p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="hero-img-wrap">
              <img class="img-fluid" src="images/couch.png" alt="couch" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Product Section -->
    <div class="product-section">
      <div class="container">
        <div class="row">
          <!-- Start Column 1 -->
          <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
            <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
            <p class="mb-4">
              Discover the perfect piece to complement your unique style and
              create a home that reflects your individuality
            </p>
            <p><a class="btn" href="#">Explore</a></p>
          </div>
          <!-- End Column 1 -->

          <!-- Start Column 2 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="#">
              <img
                class="img-fluid product-thumbnail"
                src="images/product-1.png"
                alt="product"
              />
              <h3 class="product-title">Nordic CHAIR</h3>
              <strong class="product-price">$50.00</strong>
              <span class="icon-cross">
                <img class="img-fluid" src="images/cross.svg" alt="" />
              </span>
            </a>
          </div>
          <!-- End Column 2 -->

          <!-- Start Column 3 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="#">
              <img
                class="img-fluid product-thumbnail"
                src="images/product-2.png"
                alt="product"
              />
              <h3 class="product-title">Kruzo Aero Chair</h3>
              <strong class="product-price">$78.00</strong>
              <span class="icon-cross">
                <img class="img-fluid" src="images/cross.svg" alt="" />
              </span>
            </a>
          </div>
          <!-- End Column 3 -->

          <!-- Start Column 4 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="#">
              <img
                class="img-fluid product-thumbnail"
                src="images/product-3.png"
                alt="product"
              />
              <h3 class="product-title">Ergonomic Chair</h3>
              <strong class="product-price">$43.00</strong>
              <span class="icon-cross">
                <img class="img-fluid" src="images/cross.svg" alt="" />
              </span>
            </a>
          </div>
          <!-- End Column 4 -->
        </div>
      </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <h2 class="section-title">Why Choose Us</h2>
            <p>Elevate your interior with our exceptional furniture range</p>
            <div class="row my-5">
              <div class="col-sm-6">
                <div class="feature">
                  <div class="icon">
                    <img class="img-fluid" src="images/truck.svg" alt="" />
                  </div>
                  <h3>Fast &amp; Free Shipping</h3>
                  <p>
                    Enjoy the convenience of our fast and free shipping service.
                    We strive to deliver your furniture right to your doorstep
                    promptly and without any additional cost.
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="feature">
                  <div class="icon">
                    <img class="img-fluid" src="images/shop-bag.svg" alt="" />
                  </div>
                  <h3>Easy to Shop</h3>
                  <p>
                    We've made shopping for furniture a breeze. Our
                    user-friendly website allows you to effortlessly browse
                    through our extensive collection, filter by style, category,
                    or price range, and find the perfect pieces for your home.
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="feature">
                  <div class="icon">
                    <img class="img-fluid" src="images/support.svg" alt="" />
                  </div>
                  <h3>24/7 Support</h3>
                  <p>
                    We are here for you round the clock. Our dedicated support
                    team is available 24/7 to assist you with any inquiries,
                    concerns, or assistance you may need.
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="feature">
                  <div class="icon">
                    <img class="img-fluid" src="images/return.svg" alt="" />
                  </div>
                  <h3>Hassle Free Returns</h3>
                  <p>
                    Your satisfaction is our top priority. If for any reason you
                    are not completely satisfied with your purchase, our
                    hassle-free returns policy makes it easy to return or
                    exchange items.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="img-wrap text-center">
              <img
                class="img-fluid"
                src="images/why-choose-us.png"
                alt="why choose us"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Why Choose Us Section -->

    <!-- Start We Help Section -->
    <div class="we-help-section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="imgs-grid">
              <div class="grid grid-1">
                <img src="images/img-grid-1.jpg" alt="image from grid" />
              </div>
              <div class="grid grid-2">
                <img src="images/img-grid-2.jpg" alt="image from grid" />
              </div>
              <div class="grid grid-3">
                <img src="images/img-grid-3.jpg" alt="image from grid" />
              </div>
            </div>
          </div>
          <div class="col-lg-5 ps-lg-5">
            <h2 class="section-title mb-4">
              We help you make Modern Interior Design
            </h2>
            <p>
              We help you make your dream of a modern interior design a reality.
              Our team of experts is dedicated to transforming your space into a
              contemporary masterpiece.
            </p>
            <ul class="list-unstyled custom-list my-4">
              <li>We bring together sleek aesthetics</li>
              <li>Innovative solutions to create spaces</li>
              <li>We guide you through every step of the design process</li>
              <li>Trust us to elevate your space</li>
            </ul>
            <p><a class="btn" href="#">Explore</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End We Help Section -->

    <!-- Start Popular Product Section -->
    <div class="popular-product">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item d-flex">
              <div class="thumbnail">
                <img class="img-fluid" src="images/product-1.png" alt="image" />
              </div>
              <div class="pt-3">
                <h3>Nordic Chair</h3>
                <p>
                  The Nordic Chair combines Scandinavian minimalism with
                  exceptional comfort.
                </p>
                <a href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item d-flex">
              <div class="thumbnail">
                <img class="img-fluid" src="images/product-2.png" alt="image" />
              </div>
              <div class="pt-3">
                <h3>Kruzi Aero</h3>
                <p>
                  Experience ultimate relaxation with the Kruzi Aero armchair
                </p>
                <a href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item d-flex">
              <div class="thumbnail">
                <img class="img-fluid" src="images/product-3.png" alt="image" />
              </div>
              <div class="pt-3">
                <h3>Ergonomic Chair</h3>
                <p>
                  The Ergonomic Chair is designed with your comfort and
                  well-being in mind.
                </p>
                <a href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Popular Product Section -->

    <!-- Start Testimonial Section -->
    <div class="testimonial-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto text-center">
            <h2 class="section-title">Testimonials</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="testimonial-slider-wrap text-center">
              <div class="testimonial-nav">
                <span class="prev" data-controls="prev">
                  <span class="fa fa-chevron-left"></span>
                </span>
                <span class="next" data-controls="next">
                  <span class="fa fa-chevron-right"></span>
                </span>
              </div>

              <div class="testimonial-slider">
                <div class="item">
                  <div class="row justify-content-center">
                    <div class="col-lg-8 mx-auto">
                      <div class="testimonial-block text-center">
                        <blockquote class="mb-5">
                          <p>
                            &ldquo;Working with the team at DI-GI has been an
                            absolute pleasure. From start to finish, they
                            demonstrated exceptional professionalism and
                            creativity. The interior design solutions they
                            provided for my home were nothing short of
                            remarkable. The attention to detail, the use of
                            high-quality materials, and the impeccable
                            craftsmanship truly exceeded my expectations.&ldquo;
                          </p>
                        </blockquote>

                        <div class="author-info">
                          <div class="author-pic">
                            <img
                              class="img-fluid"
                              src="images/person-1.png"
                              alt="Michelle Anna"
                            />
                          </div>
                          <h3 class="fw-bold">Michelle Anna</h3>
                          <span class="d-block mb-3">
                            CEO, Co-Founder, XYZ Inc.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="row justify-content-center">
                    <div class="col-lg-8 mx-auto">
                      <div class="testimonial-block text-center">
                        <blockquote class="mb-5">
                          <p>
                            &ldquo;I was particularly impressed with their
                            ability to create functional and practical designs
                            without compromising on aesthetics. The furniture
                            selections, color schemes, and overall layout
                            perfectly complemented each other, creating a
                            harmonious and visually stunning atmosphere.&ldquo;
                          </p>
                        </blockquote>

                        <div class="author-info">
                          <div class="author-pic">
                            <img
                              class="img-fluid"
                              src="images/person-2.png"
                              alt="Michelle Anna"
                            />
                          </div>
                          <h3 class="fw-bold">John Warrillow</h3>
                          <span class="d-block mb-3"> CEO, Founder </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="row justify-content-center">
                    <div class="col-lg-8 mx-auto">
                      <div class="testimonial-block text-center">
                        <blockquote class="mb-5">
                          <p>
                            &ldquo;I would highly recommend DI-GI to anyone in
                            search of a top-notch interior design studio. Their
                            professionalism, expertise, and commitment to
                            delivering outstanding results make them the ideal
                            choice for any design project. Thank you, DI-GI, for
                            making my dream space a reality!&ldquo;
                          </p>
                        </blockquote>

                        <div class="author-info">
                          <div class="author-pic">
                            <img
                              class="img-fluid"
                              src="images/person-3.png"
                              alt="Michelle Anna"
                            />
                          </div>
                          <h3 class="fw-bold">Bill Portin</h3>
                          <span class="d-block mb-3"> CEO, Owner </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Testimonial Section -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
