<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Furni</title>
  </head>
  <body>
    <!-- Start Header/Navigation -->
    <nav
      class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark"
      aria-expanded="false"
      aria-label="Furni navigation bar"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Furni<span>.</span></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarFurni"
          aria-controls="navbarFurni"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarFurni">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
          </ul>
          <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="images/user.svg" alt="account" />
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="images/cart.svg" alt="cart" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>
                Modern Interior <span class="d-block">Design Studio</span>
              </h1>
              <p class="mb-4">
                Discover the perfect blend of style and comfort with our
                exquisite furniture collection. Whether you're looking for a
                cozy sofa, elegant dining set, or functional storage solutions,
                we have it all.
              </p>
              <p>
                <a class="btn btn-secondary me-2" href="#">Shop Now</a>
                <a class="btn btn-outline-light" href="#">Explore</a>
              </p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="hero-img-wrap">
              <img class="img-fluid" src="images/couch.png" alt="couch" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
