<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <link rel="stylesheet" href="assets/style.css">
    <title>Iron Gym Example</title>
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar">

<!-- Home Section -->
<section id="home" class="container-fluid">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.svg" alt="Iron Gym logo">
            </a>

            <!-- Menu items -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#service">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#trainers">Trainers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#testimonial">Testimonial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#contact">Contact us</a>
                </li>
            </ul>

            <!-- Button "Started Now" -->
            <div>
                <a class="btn btn-danger text-uppercase btn-start" href="#contact">Started Now</a>
            </div>
        </div>
    </nav>
    <!-- Hero -->
    <div class="container">
        <div>
            <p class="text-uppercase hero-title ready-to-train">ready TO TRAIN</p>
            <p class="color-red text-uppercase hero-title your-body">YOUR BODY</p>
        </div>
    </div>
</section>

<!-- Service Section -->
<section id="service" class="container-fluid bg-warning" style="padding:100px 20px;">
    <h1>Section 2</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
</section>

<!-- Trainers Section -->
<section id="trainers" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
    <h1>Section 3</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
</section>

<!-- Testimonial Section -->
<section id="testimonial" class="container-fluid bg-warning" style="padding:100px 20px;">
    <h1>Section 4</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
</section>

<!-- Contact Section -->
<section id="contact" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
    <h1>Section 5</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at
        the navigation bar while scrolling!</p>
</section>

<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
