.slider-controls {
  display: grid;
  gap: 15px;
}

.slider-control__arrows {
  display: flex;
  column-gap: 5px;
  opacity: 0.3;
}

.slider-control__count {
  display: flex;
  column-gap: 6px;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(255 255 255 / 0.3);
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  line-height: 1;
}

.slider-control__count-current,
.swiper-pagination-current {
  color: #fff;
  font-size: 32px;
  line-height: 0.75;
}
