html,
body {
  font-family: "Fira Sans", sans-serif;
  color: rgb(34 34 34 / 0.7);
  font-size: 18px;
  line-height: 1.5em;
  min-width: 320px;
  overflow-x: hidden;
}

button {
  display: block;
  border: none !important;
  background: transparent;
  padding: 0;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 600;
  color: #222;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.3em;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #151515;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -0.025em;
  line-height: 1.2em;
}

h3,
h4 {
  line-height: 1.4em;
  font-weight: 500;
  font-size: 1.2em;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.btn {
  background: #4737ff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  padding: 14px 30px;
  border-radius: 0;
  display: inline;
  letter-spacing: 0.3em;
  text-align: center;
  transition: 0.5s;
  line-height: 1.7em;
}

.btn:hover {
  background: #3726f2;
  color: #fff;
}

@media (max-width: 1200px) {
  body {
    font-size: 16px;
    line-height: 1.4em;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
    line-height: 1.3em;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }
}

/* Start Common Section */

.player {
  cursor: pointer;
}

.player__thumbnail {
  height: 100%;
  width: 100%;
}

.player__thumbnail:after {
  content: "";
  background: url("../img/play.svg") no-repeat center center;
  width: 65px;
  height: 65px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.player__object {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
  top: 0;
  left: 0;
}

.section-title__label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .player__thumbnail:after {
    width: 50px;
    height: 50px;
  }

  .section-title__label {
    margin-bottom: 20px;
  }
}

/* End Common Section */

/* Start Header Section */

.header {
  height: 982px;
}

.header .nav {
  padding-top: 59px;
  margin-bottom: 127px;
  line-height: normal;
}

.carousel-item {
  transition: transform 1.5s ease;
}

.carousel-inner {
  overflow: visible;
}

.carousel-indicators {
  right: auto;
  margin: 0;
  bottom: -80px;
}

.carousel-indicators li {
  background-color: rgb(198 179 147 / 0.5);
  width: 62px;
  height: 2px;
  margin: 0;
}

.carousel-indicators li:first-child {
  margin-right: 5px;
}

.carousel-indicators li.active {
  background-color: #c6b393;
}

.offer-cont {
  height: 500px;
  overflow: hidden;
}

.offer-cont__text {
  margin: 30px 0 56px;
}

.hero {
  width: 665px;
  height: 840px;
  position: absolute;
  right: -125px;
  top: -67px;
}

.offer_first .hero {
  background: url("../img/img1.jpg") no-repeat right top;
}

.offer_second .hero {
  background: url("../img/img13.jpg") no-repeat right top;
}

.hero .player {
  position: absolute;
  bottom: 166px;
  left: -125px;
  width: 400px;
  height: 310px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
}

.offer_first .player__thumbnail {
  background: url("../img/video.jpg") no-repeat right top;
}

.offer_second .player__thumbnail {
  background: url("../img/video2.jpg") no-repeat left center;
}

@media (max-width: 1200px) {
  .hero {
    width: 575px;
  }
}

@media (max-width: 992px) {
  .hero {
    width: 455px;
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;
  }

  .header .nav {
    padding-top: 40px;
    margin-bottom: 80px;
  }

  .carousel {
    padding-bottom: 50px;
  }

  .carousel-indicators {
    right: 0;
    bottom: 0;
  }

  .hero {
    position: relative;
    height: 460px;
    width: 100%;
    margin: 40px auto 0;
    right: 0;
    top: 0;
    padding: 30px;
  }

  .hero .player {
    position: static;
    max-width: 100%;
    max-height: 100%;
  }

  .offer_first .player__thumbnail {
    background-position: center bottom;
  }

  .offer-cont {
    height: auto;
  }

  .offer-cont__text {
    margin: 25px 0 40px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 300px;
  }
}

/* End Header Section */

/* Start Problems Section */

.problems {
  padding-top: 137px;
}

.poster {
  width: 444px;
  height: 564px;
}

.about {
  margin-top: 37px;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 20px;
}

.about__author {
  background: url("../img/author.jpg") no-repeat left center / contain;
  padding: 6px 0 6px 96px;
  margin-top: 61px;
}

.about_extra {
  margin-bottom: 0;
}

.serv-list {
  line-height: 1.5em;
  margin-top: 68px;
}

.serv-list__item {
  margin-bottom: 21px;
  color: rgb(34 34 34 / 0.5);
}

.serv-list_left {
  margin-left: 37px;
}

@media (max-width: 992px) {
  .problems {
    padding-top: 100px;
  }

  .about__author {
    padding: 6px 0 6px 80px;
  }
}

/* End Problems Section */

/* Start Services Carousel */

.services {
  padding-top: 142px;
}

.services-carousel {
  margin-top: 99px;
}

.services-carousel .owl-stage {
  transition: 0.5s !important;
}

.services-carousel .owl-item {
  transition: 0.3s ease-in;
}

.services-carousel .owl-nav {
  text-align: left;
}

.services-carousel .owl-nav [class*="owl-"] {
  margin: 0;
}

.services-carousel .owl-nav [class*="owl-prev"] {
  margin-right: 25px;
}

.services-carousel .owl-nav {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .services {
    padding-top: 100px;
  }

  .services-carousel {
    margin-top: 60px;
  }

  .services-carousel .owl-nav {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .serv-list_left {
    margin-left: 0;
  }

  .services-carousel {
    margin-top: 40px;
  }
}

/* End Services Carousel */

/* Start Result Section */

.result {
  padding-top: 181px;
}

.collage {
  position: relative;
  height: 552px;
}

.collage__item {
  position: absolute;
  width: 100%;
}

.collage__item_first {
  top: 99px;
  right: 0;
  max-width: 350px;
  z-index: 1;
  box-shadow: 30px 80px 180px 0 rgba(0, 0, 0, 0.25);
}

.collage__item_second {
  left: -121px;
  max-width: 570px;
}

.easy {
  margin-top: 38px;
}

.easy__title {
  margin-bottom: 13px;
}

.easy__text {
  margin-bottom: 62px;
  line-height: 1.5em;
}

.easy__point {
  padding-left: 83px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.8em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.easy__point_first {
  background: left center / contain no-repeat url("../img/icon100.svg");
  margin-bottom: 30px;
}

.easy__point_second {
  background: left center / contain no-repeat url("../img/bag.svg");
}

@media (max-width: 768px) {
  .result {
    padding-top: 100px;
  }

  .collage__item_first {
    max-width: 284px;
    box-shadow: 3px 10px 180px 0 rgba(0, 0, 0, 0.25);
  }

  .collage__item_second {
    left: -11px;
    max-width: 385px;
  }

  .easy {
    margin-top: 0;
  }
}

/* End Result Section */

/* Start Work Section */

.works {
  padding-top: 202px;
}

.works-tabs {
  margin: 78px 0 0 60px;
}

.works-tabs .nav-link {
  color: rgb(34 34 34 / 0.3);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 0;
}

.works-tabs .active {
  color: #1434e1;
}

.works-wrap {
  gap: 30px;
  margin-top: 108px;
}

.works .player {
  position: relative;
  transition: 1s;
}

.works .player:not(:has(iframe)):hover {
  box-shadow: -30px 80px 200px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-20px);
}

.works .player__thumbnail:after {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.works .player__thumbnail:hover:after {
  opacity: 1;
  visibility: visible;
}

.works__caption-container {
  margin-top: 52px;
}

@media (max-width: 1200px) {
  .works-tabs {
    margin: 78px 0 0 0;
  }
}

@media (max-width: 992px) {
  .works {
    padding-top: 150px;
  }

  .works-wrap {
    margin-top: 70px;
  }

  .works-tabs {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 768px) {
  .works__caption-container {
    margin-top: 40px;
  }

  .works .player__thumbnail:hover {
    transform: none;
  }

  .works .player__thumbnail:after {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 576px) {
  .nav-item {
    margin-bottom: 1em;
  }

  .nav-link {
    display: inline;
  }

  .works-wrap {
    margin-top: 40px;
  }
}

/* End Work Section */

/* Start Testimonials Section */

.testimonials {
  padding-top: 248px;
}

.testimonials .section-title__label {
  margin-bottom: 73px;
}

.testimonials .section-title__heading {
  max-height: 204px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.contributor {
  margin-top: 121px;
}

.contributor__title {
  margin-bottom: 13px;
}

.contributor__desc {
  margin-bottom: 0;
}

.cont-photo {
  max-height: 620px;
}

/* Start Testimonials Carousel */

.testimonials-carousel .owl-stage {
  transition: 0.5s !important;
}

.testimonials-carousel .owl-nav {
  text-align: left;
}

.testimonials-carousel .owl-nav [class*="owl-"] {
  margin: 0;
}

.testimonials-carousel .owl-nav [class*="owl-prev"] {
  margin-right: 25px;
}

.testimonials-carousel .owl-nav {
  position: absolute;
  bottom: 0;
}

/* End Testimonials Carousel */

/* End Testimonials Section */

/* Start Clients Section */

.clients {
  padding-top: 176px;
}

.clients .section-title {
  padding-top: 102px;
}

.clients__heading {
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding-top: 110px;
}

.clients__text {
  line-height: 1.5em;
}

.clients__brands {
  margin-top: 73px;
}

/* End Clients Section */

/* Start Footer Section */

.footer {
  background: #515151;
  margin-top: 137px;
  height: 240px;
}

.footer-logo {
  padding: 108px 0;
}

/* End Footer Section */
