<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="img/favicon/icon.png">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>IPhone Store</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="nav mobile-nav header__nav">
                <ul class="nav__list header__nav-list">
                    <li class="nav__item"><a href="#!">Что нового</a></li>
                    <li class="nav__item"><a href="#!">Цвет</a></li>
                    <li class="nav__item"><a href="#!">Заказать</a></li>
                </ul>

                <div class="logo">
                    <a class="logo__link">
                        <img class="logo__img" src="img/logo.svg" alt="Logo">
                    </a>
                </div>

                <a class="header__nav-phone" href="tel:380504565656">+38 050-456-56-56</a>

                <div class="mobile-nav-btn">
                    <span class="mobile-nav-btn__line"></span>
                    <span class="mobile-nav-btn__line"></span>
                    <span class="mobile-nav-btn__line"></span>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section></section>
    </main>
    <footer></footer>

    <script src="js/index.js"></script>
</body>

</html>