.title {
    --font-size-title: 122px;

    font-family: var(--font-accent);
    font-weight: 700;
    font-size: var(--font-size-title);

    color: var(--text-color);
    line-height: normal;
}

.title-2 {
    --font-size-title-2: 16px;

    font-family: var(--font-accent);
    font-weight: 400;
    font-size: var(--font-size-title-2);

    color: var(--accent);
    line-height: normal;
    letter-spacing: calc(6.88em / 16);

    text-transform: uppercase;
}

.title-3 {
    --font-size-title-3: 40px;

    font-family: var(--font-accent);
    font-weight: 400;
    font-size: var(--font-size-title-3);

    color: var(--text-color);
    line-height: normal;
}

.title-4 {
    --font-size-title-4: 16px;

    font-family: var(--font-accent);
    font-weight: 400;
    font-size: var(--font-size-title-4);

    color: var(--accent);
    line-height: normal;
    letter-spacing: calc(6.88em / 16);

    text-transform: uppercase;
}

.title-5 {
    --font-size-title-5: 28px;

    font-family: var(--font-accent);
    font-weight: 700;
    font-size: var(--font-size-title-5);

    color: var(--accent);
    line-height: normal;
}

.title__accent {
    color: var(--accent);
    white-space: nowrap;
}

@media (max-width: $laptop) {
    .title {
        font-size: calc(var(--font-size-title) * 0.8);
    }

    // .title-2 {
    //     font-size: calc(var(--font-size-title-2) * 0.8);
    // }

    .title-3 {
        font-size: calc(var(--font-size-title-3) * 0.8);
    }
}

@media (max-width: $tablet) {
    .title {
        font-size: calc(var(--font-size-title) * 0.65);
    }

    // .title-2 {
    //     font-size: calc(var(--font-size-title-2) * 0.65);
    // }

    .title-3 {
        font-size: calc(var(--font-size-title-3) * 0.75);
    }
}

@media (max-width: $mobileL) {
    .title {
        font-size: calc(var(--font-size-title) * 0.55);
    }

    // .title-2 {
    //     font-size: calc(var(--font-size-title-2) * 0.55);
    // }

    .title-3 {
        font-size: calc(var(--font-size-title-3) * 0.65);
    }

    // .title-4 {
    //     font-size: calc(var(--font-size-title-4) * 0.9);
    // }

    .title-5 {
        font-size: calc(var(--font-size-title-5) * 0.9);
    }
}