:root {
    --white-color: #FFFFFF;
    --indigo-color: #6F7DFB;
    --blue-color: #26308C;
    --dark-blue-color: #023047;
    --orange-color: #DA722C;
    --deep-blue-color: #3B448F;
    --yellow-color: #FFCE31;
    --black-color: #000000;
    --turquoise-color: #15C9FB;
    --royal-blue-color: #1977F3;
    --light-blue-color: #3BCCFF;
    --green-color: #48FF48;
    --red-color: #FF3333;
    --golden-color: #FFD400;
    --dark-color: #070917;
}
