:root {
    --dark-blue-color: #023047;
    --deep-blue-color: #3B448F;
    --light-blue-color: #3BCCFF;
    --royal-blue-color: #1977F3;
    --black-color: #000000;
    --blue-color: #26308C;
    --dark-color: #070917;
    --golden-color: #FFD400;
    --green-color: #48FF48;
    --indigo-color: #6F7DFB;
    --orange-color: #DA722C;
    --red-color: #FF3333;
    --turquoise-color: #15C9FB;
    --white-color: #FFFFFF;
    --yellow-color: #FFCE31;
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Raleway", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    margin: 0;
}

.wrapper {
    margin: auto;
    max-width: 1134px;
    position: relative;
}

/* Buttons */

.btn {
    border-radius: 24px;
    color: var(--white-color);
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 32px;
    position: relative;
    text-decoration: none;
}

.btn.dark {
    background: var(--dark-blue-color);
}

.btn.light {
    background: var(--orange-color);
}

.btn.enrol-icon::before {
    content: url("images/enrol-now-icon.svg");
    left: 32px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}

.btn.enrol-icon {
    padding-left: 60px;
}

/* Header */

header {
    background: linear-gradient(180deg, var(--indigo-color) 0%, var(--blue-color) 100%);
    width: 100%;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1134px;
    padding: 42px 12px;
    position: fixed;
    top: 0;
    transition: all 500ms ease;
    width: 100%;
    z-index: 100;
}

nav.scrolled {
    background: var(--dark-color);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    padding: 12px;
}

nav .logo {
    color: var(--white-color);
    font-family: var(--font-secondary);
    font-size: 40px;
    font-weight: 900;
}

nav ul {
    align-items: center;
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: space-between;
    padding-top: 186px;
    width: 100%;
}

.hero-section .left {
    flex: 1;
    padding-top: 33px;
}

.hero-section .left h1 {
    color: var(--white-color);
    font-family: var(--font-secondary);
    font-size: 50px;
    font-weight: 900;
    line-height: 125%;
    margin: 0;
}

.hero-section .left p {
    color: var(--white-color);
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 30px;
    margin-top: 18px;
    width: 457px;
}

.hero-section .right {
    align-self: flex-end;
}

.hero-section .right img {
    vertical-align: middle;
}

/* Achievement Cards */

.achievement-card {
    position: absolute;
}

.achievement-card.students-enrolled {
    left: 46%;
    top: 323px;
}

.achievement-card.overall-rating {
    left: 43%;
    top: 562px;
}

.achievement-card .content {
    background: var(--white-color);
    border-radius: 24px;
    padding: 7px 34px 18px 33px;
    position: relative;
    z-index: 10;
}

.achievement-card .content div {
    align-items: center;
    display: flex;
    gap: 4px;
}

.achievement-card h3 {
    color: var(--dark-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 125%;
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievement-card p {
    color: var(--dark-blue-color);
    font-size: 16px;
    line-height: 125%;
    margin: 0;
}

.achievement-card .bg {
    background: linear-gradient(180deg, var(--indigo-color) 0%, var(--deep-blue-color) 100%);
    border-radius: 24px;
    height: 100%;
    left: 7px;
    position: absolute;
    top: 8px;
    width: 100%;
    z-index: 1;
}

/* Testimonials Section */

section.testimonials-section {
    margin: 135px 0;
}

h2 {
    color: var(--dark-blue-color);
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 120%;
    margin: 0 0 16px 0;
}

h2.light {
    color: var(--white-color);
}

section p {
    color: var(--dark-blue-color);
    font-size: 16px;
    line-height: 200%;
    margin: 0;
}

.testimonials-section {
    align-items: center;
    display: flex;
    gap: 134px;
}

.testimonials-section .mobile-btn {
    display: none;
}

.testimonials-section .testimonial-card {
    background: var(--white-color);
    border-radius: 24px;
    box-shadow: 0 9px 36px 0 rgba(0, 0, 0, 0.20);
    margin-bottom: 50px;
    position: relative;
    width: 442px;
}

.testimonials-section .testimonial-card:last-child {
    transform: translateX(32px);
}

.testimonials-section .testimonial-card::before {
    background: var(--dark-blue-color);
    border-radius: 24px 24px 0 0;
    content: "";
    height: 35px; /* The height is equal to the indent top */
    left: 87px;
    position: absolute;
    top: -35px;
    width: 28px;
    z-index: -1;
}

.testimonials-section .testimonial-card:last-child::before {
    border-radius: 0 0 24px 24px;
    height: calc(100% + 94px); /* 50px margin + 44px indent */
    left: 55px; /* 87px indent of the first card - 32px indent of the translateX of the last card */
    top: -50px; /* Because of the margin-bottom between cards is 50px */
}

.testimonials-section .testimonial-card .content {
    background: var(--indigo-color);
    border-radius: 24px;
    color: var(--white-color);
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 900;
    line-height: 150%;
    padding: 24px 32px;
}

.testimonials-section .testimonial-card:last-child .content {
    background: var(--orange-color);
}

.testimonials-section .testimonial-card .info {
    background: var(--white-color);
    border-radius: 24px;
    padding: 31px 32px;
}

.testimonials-section .testimonial-card .info h4 {
    color: var(--dark-blue-color);
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 900;
    line-height: 120%;
    margin: 0;
}

.testimonials-section .testimonial-card .info p.company {
    color: var(--dark-blue-color);
    font-family: var(--font-secondary);
    font-size: 18px;
    line-height: 120%;
}

.testimonials-section .testimonial-card img {
    bottom: 12px;
    position: absolute;
    right: 32px;
}

.testimonials-section .features {
    margin-bottom: 30px;
}

/* Courses Section */

.courses-section {
    background: linear-gradient(180deg, var(--indigo-color) 0%, var(--blue-color) 100%);
    padding: 70px 0 129px 0; /* The "All Courses" button is not displayed in the stream, so we add an additional indent from the bottom */
}

.courses-section h2 {
    text-align: center;
}

.courses-section .course-cards {
    display: flex;
    gap: 73px;
}

.courses-section .course-cards img {
    border-radius: 24px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
    width: 100%;
}

.courses-section .course-card {
    background: var(--white-color);
    border-radius: 24px;
    margin: 40px 0;
    max-width: 526px;
    padding: 0 32px;
    position: relative;
}

.courses-section .course-card::after {
    background: var(--dark-blue-color);
    border-radius: 24px;
    bottom: 0;
    content: "";
    height: 8px;
    left: 32px;
    position: absolute;
    right: 32px;
}

.courses-section .course-card h3 {
    color: var(--dark-blue-color);
    font-family: var(--font-secondary);
    font-size: 30px;
    font-weight: 900;
    line-height: 150%;
    margin: 0;
}

.courses-section .course-card .info {
    align-items: flex-start;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin: 30px 0;
    min-height: 90px;
}

.courses-section .course-card .duration {
    align-self: center;
    color: var(--dark-blue-color);
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    padding-left: 25px;
    position: relative;
    white-space: nowrap;
}

.courses-section .course-card .duration::before {
    content: url("images/clock.svg");
    left: 0;
    position: absolute;
    top: 2px;
}

.courses-section .wrapper {
    position: relative;
}

.courses-section .wrapper .btn {
    position: absolute;
    right: 0;
}

/* App Section */

.app-section {
    margin: 100px 0;
    text-align: center;
}

.app-section h2 {
    margin-bottom: 13px;
}

.app-section .app-buttons {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 45px;
}

.app-section .app-btn {
    align-items: center;
    background: var(--black-color);
    color: var(--white-color);
    display: flex;
    gap: 14px;
    max-width: 310px;
    padding: 20px 31px;
    width: 100%;
}

.app-section .app-btn span {
    color: var(--white-color);
    font-size: 24px;
    line-height: 200%;
    text-align: center;
}

/* Footer */

footer {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 70px 0;
}

footer a {
    color: var(--white-color);
    font-size: 16px;
    line-height: 200%;
    text-decoration: none;
}

footer h3 {
    color: var(--orange-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    margin: 0 0 14px 0;
}

footer ul {
    list-style: none;
    margin: 0 0 0 23px;
    padding: 0;
}

footer ul li {
    margin: 0 0 9px 0;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3.5fr;
}

footer .social {
    padding: 7px 0 0 23px;
}

footer .social a {
    margin-right: 28px;
}

footer form {
    margin: 26px 0 0 23px;
    position: relative;
}

footer form input {
    background: var(--white-color);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 200%;
    padding: 4px 27px;
    width: 100%;
}

footer form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

footer form .submit-btn {
    background: var(--dark-blue-color);
    border: none;
    border-radius: 8px;
    color: var(--white-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 200%;
    padding: 0 27px;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

footer .copyright {
    margin: 32px 0 0 0;
}

nav.mobile-nav,
.mobile-menu-container {
    display: none;
}

@media (max-width: 1200px) {
    .btn {
        font-size: 16px;
        padding: 12px 32px;
    }

    .wrapper {
        padding: 0 100px;
    }

    nav {
        left: 0;
        padding: 60px;
        right: 0;
    }

    nav.scrolled {
        padding: 16px 60px;
    }

    .hero-section {
        flex-direction: column;
    }

    .hero-section .left {
        padding: 77px 0 615px 0;
    }

    .hero-section .left p {
        max-width: 634px;
        width: 100%;
    }

    .hero-section .right {
        bottom: 0;
        position: absolute;
        right: 0;
    }

    .hero-section .right img {
        width: 496px;
    }

    .achievement-card.students-enrolled {
        bottom: 341px;
        left: 17%;
        top: unset;
    }

    .achievement-card.overall-rating {
        bottom: 125px;
        left: 17%;
        top: unset;
    }

    h2 {
        font-size: 40px;
    }

    section.testimonials-section {
        margin: 100px 0;
    }

    .testimonials-section {
        align-items: stretch;
        flex-direction: column;
        gap: 50px;
    }

    .testimonials-section .testimonial-card {
        margin-bottom: 40px;
        width: 100%;
    }

    .testimonials-section .testimonial-card:last-child {
        margin-bottom: 0;
        transform: translateX(0);
    }

    .testimonials-section .testimonial-card:last-child::before {
        height: calc(100% + 84px);
        left: 87px;
        top: -40px;
    }

    .testimonials-section .desktop-btn {
        display: none;
    }

    .testimonials-section .mobile-btn {
        align-self: flex-end;
        display: block;
        margin-top: 24px;
        order: 3;
    }

    .testimonials-section .right {
        order: 1;
    }

    .testimonials-section .left {
        order: 2;
    }

    .testimonials-section .right p {
        display: inline;
    }

    .testimonials-section h2 {
        margin-bottom: 20px;
    }

    .courses-section .course-cards {
        align-items: center;
        flex-direction: column;
        gap: 80px;
    }

    .courses-section .course-card {
        margin: 0;
        max-width: 632px;
        width: 100%;
    }

    .courses-section h2 {
        margin-bottom: 40px;
    }

    .courses-section .course-cards img {
        height: 260px;
    }

    .courses-section .wrapper .btn {
        right: 100px;
    }

    .courses-section .course-card:last-child {
        margin-bottom: 50px;
    }

    footer .links-container {
        grid-template-columns: 1fr 1fr;
    }

    footer .links-container .links:last-child {
        grid-column: 1 / 3;
        margin-top: 45px;
    }
}

@media (max-width: 800px) {
    nav {
        display: none;
    }

    nav.mobile-nav {
        display: flex;
    }

    nav.mobile-nav.scrolled {
        background: var(--indigo-color);
        box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
        padding: 8px 100px;
    }

    .mobile-menu-container {
        align-items: center;
        background: var(--dark-color);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 100%;
        position: fixed;
        top: 0;
        transition: all 400ms ease;
        width: 100%;
        z-index: 200;
    }

    .mobile-menu-container.active {
        left: 0;
    }

    .mobile-menu-container .close-icon {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        right: 60px;
        top: 60px;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active .close-icon {
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu-container ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-container ul li {
        margin: 30px 0;
        text-align: center;
    }

    .mobile-menu-container ul li a {
        color: var(--white-color);
        font-size: 24px;
        text-decoration: none;
    }
}

@media (max-width: 700px) {
    .wrapper {
        padding: 0 32px;
    }

    .app-section .app-buttons {
        flex-direction: column;
    }

    nav .logo {
        font-size: 36px;
    }

    nav.mobile-nav {
        padding: 32px;
    }

    nav.mobile-nav.scrolled {
        padding: 8px 32px;
    }

    .mobile-menu-container .close-icon {
        right: 32px;
        top: 32px;
    }

    .hero-section .left h1 {
        font-size: 36px;
    }

    .hero-section .right img {
        width: 306px;
    }

    .achievement-card h3 {
        font-size: 30px;
    }

    .achievement-card p {
        font-size: 14px;
    }

    .hero-section {
        padding-top: 160px;
    }

    .hero-section .left {
        padding: 0 0 420px 0;
    }

    .achievement-card.students-enrolled {
        bottom: 199px;
        left: 7%;
    }

    .achievement-card.overall-rating {
        bottom: 67px;
        left: 7%;
    }

    .achievement-card .bg {
        left: 10px;
        top: 5px;
    }

    .hero-section .right {
        overflow: hidden;
    }

    .hero-section .right img {
        transform: translateX(74px);
    }

    h2 {
        font-size: 30px;
    }

    .testimonials-section .testimonial-card .info h4 {
        font-size: 18px;
    }

    .testimonials-section .testimonial-card .info p.company {
        font-size: 14px;
    }

    .testimonials-section .testimonial-card img {
        height: 100px;
        width: 100px;
    }

    .courses-section {
        padding: 63px 0 118px 0;
    }

    .courses-section .wrapper {
        padding: 0;
    }

    .courses-section .course-cards img {
        height: 240px;
    }

    .courses-section .wrapper .btn {
        right: 32px;
    }

    .courses-section .course-card h3 {
        font-size: 24px;
    }

    footer {
        padding: 60px 0 70px 0;
    }

    footer .links-container {
        gap: 40px;
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .links-container .links:last-child {
        grid-column: 1/2;
    }

    footer ul {
        margin: 0;
    }

    footer form {
        margin-left: 0;
    }

    footer form .submit-btn {
        left: 50%;
        top: 138%;
        transform: translateX(-50%);
    }

    footer .copyright {
        margin-top: 89px;
        text-align: center;
    }
}